// color variables
$very-dark-magenta: #502050
$soft-pink: #EE68A4
$dark-grayish-magenta: #937B92
$light-grayish-magenta: #F7F2F7
$White: white

// ------------------------------- Global Styles -------------------------------------------------
*, *::before, *::after
	box-sizing: border-box

body
	margin: 0
	padding: 0
	font-family: 'Spartan', sans-serif
	width: 100vw
	height: 100vh

	&::before
		content: ""
		width: 100%
		height: 100%
		background: url('images/bg-pattern-top-desktop.svg') no-repeat top left / 40% 50%
		position: absolute
		top: 0
		left: 0
		z-index: -1

	&::after
		content: ""
		width: 100%
		height: 100%
		background: url('images/bg-pattern-bottom-desktop.svg') no-repeat bottom right / 75% 80%
		position: absolute
		bottom: 0
		right: 0
		z-index: -1

.container
	max-width: 1100px
	margin: 0 auto
	height: 100%

.flex
	display: flex
	justify-content: center
	align-items: center

.flex-c
	@extend .flex
	flex-direction: column

img
	max-width: 100%

// ------------------------------- Main Styles -------------------------------------------------
main
	.flex
		justify-content: space-between
		align-items: flex-start

	.content
		width: 50%

		h1
			margin: 0
			font-size: 3.1rem
			letter-spacing: -2px
			line-height: 1em
			max-width: 70%
			color: $very-dark-magenta

		p
			font-size: .9rem
			font-weight: 500
			color: $dark-grayish-magenta
			line-height: 1.8em
			max-width: 80%

	.ratings
		.flex
			align-items: center

		.rating
			background: $light-grayish-magenta
			padding: 1rem 3rem
			border-radius: 7px
			width: 450px

			&:not(:last-child)
				margin-bottom: 1rem

		h5
			margin: 0

		.top
			margin-left: -5rem
		.middle
			margin-left: -2.5rem

	.bottom
		padding-top: 3rem
		.card
			background: $very-dark-magenta
			border-radius: 7px
			padding: 2.1rem 1.5rem
			color: $light-grayish-magenta

			&:not(:last-child)
				margin-right: 1.8rem

		p
			font-size: .8rem
			font-weight: 500
			line-height: 1.7em
			word-spacing: 1px

		.flex
			justify-content: flex-start
			align-items: center

		.info
			padding-bottom: 1.2rem

			img
				width: 2.5rem
				height: 2.5rem
				border-radius: 50%
				margin-right: 1.7rem
			h5
				margin: 0

			.status
				color: $soft-pink
				font-weight: 300
				padding-top: .3rem
